main>.categories {
  position: fixed;
  left: 0;
  top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  width: 20vw;
  height: 100vh;
}

main>.categories>h2 {
  padding: 0 1rem;
  text-transform: uppercase;
}

main>.categories> ul > li {
  text-decoration: none;
  color: black;
  font-family: var(--font-noto);
  padding: .5rem 0;
  padding: .5rem 2rem;
  text-align: left;
  cursor: pointer;
}

main>.categories>ul > li:hover {
  color: var(--color-logo);  
}