
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../../public/user02.png');
  background-repeat: no-repeat;
  background-size: 30%;
}

.not-found-container > h2 {
  text-align: center;
  font-size: 3rem;
  background-color: transparent;
  /* color: rgb(50, 50, 50); */
  color: rgb(158, 4, 4);  
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 13px 1px rgba(255, 255, 255, .9);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .3);
}

.not-found-container > img.not-found-image {  
  height: 50vh;   
}

.not-found-container > a {
  border: none;
  background-color: var(--color-logo);
  color: white;
  width: 100%;
  max-width: 150px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;;
  padding: 7px;
  margin-bottom: 200px;
}

@media(min-width: 600px) {
  .not-found-container {
    justify-content: space-around;
    width: 60vw;
    height: 60vh;
    background-image: auto;
  }

  .not-found-container > a {
    border: none;
    background-color: var(--color-logo);
    color: white;
    padding: 10px;
    width: 100%;
    max-width: 220px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    margin-bottom: 0; 
  }
}