
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 60vh;
}

.not-found-container > img.not-found-image {
  width: 50vw;
}

.not-found-container > a {
  border: none;
  background-color: var(--color-logo);
  color: white;
  padding: 10px;
  width: 100%;
  max-width: 220px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;  
}