@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

:root {
  --font-ibm: 'IBM Plex Sans', sans-serif;
  --font-noto: 'Noto Sans', sans-serif;
  --color-logo: rgb(255, 69, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-ibm);
}


main {
  text-align: center;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  background-color: rgb(218, 224, 230);  
}

.user-post {
  background-color: white;
  height: 50px;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
  border: 1px solid rgb(150, 150, 150);
  gap: 2rem;
}


/* Imagen del avatar */
.user-post > a > img {
  height: 48px;
  margin: 0 20px 10px 20px;
}


.user-post > .insert-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
}

.user-post > .insert-news > input:first-child {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 4px;
}

.user-post > .insert-news > input:first-child:hover {
  background-color: white;
}

.user-post > .insert-news > input:last-child {
  width: 300px;
  padding: 8px;
  display: none;  
}

.user-post > .insert-news img {
  cursor: pointer;  
}

.user-post > .insert-news img:hover {
  background-color: rgb(245, 245, 245);
}

main {
  padding: 70px 0;
  min-height: 100vh;
}



main>.breaking-news>h2 {
  padding: 2rem;
  margin: 0;
  color: rgb(50, 50, 50);
  text-transform: uppercase;
}

main>.breaking-news>.news-list {
  display: grid;
  grid-template-columns: repeat(1fr, minmax(225px, 1fr));
  max-width: 50vw;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  margin: 0 1rem;
}

main>.breaking-news>.news-list>.single-news {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  background-color: white;
  border: 1px solid rgb(10, 10, 10);
  padding: .5rem;
  border-radius: 4px;
  box-shadow: 1px 2px 10px rgb(10, 10, 10);
  cursor: pointer;
}

main>.breaking-news>.news-list>.single-news>figure img {
  width: 25px;
}

main>.breaking-news>.news-list>.single-news>figure .arrow-up:hover {  
  background-color: rgb(218, 224, 230);
  color: var(--color-logo);
  /* fill: red; */
  /* filter: invert(100%); */
  border: 1px solid var(--color-logo);
  stroke: var(--color-logo);
}

main>.breaking-news>.news-list>.single-news>figure .arrow-down:hover {  
  background-color: rgb(218, 224, 230);
  color: blue;
  /* fill: red; */
  /* filter: invert(100%); */
  border: 1px solid blue;
  stroke: blue;
}

main>.breaking-news>.news-list>.single-news>section>p {
  padding: 0 1rem;
}

main>.breaking-news>.news-list>.single-news>section>.title {
  font-weight: 800;
}

main>.breaking-news>.news-list>.single-news>section>.body {
  text-align: left;
}

.required {
  color: red;
}

.register > form {
  height: 90vh;
}


